* {
    padding: 0px;
    margin: 0px;
}

#logo {
    color: #ff00ff;
    margin: 0px 20px 0px 0px;
    height: 2%;
    width: 5%;
    /* border: 2px solid red; */
    position: relative;
    left: 20px;
    font-family: cursive;
}
#whole-content{
    text-align: center;
    /* border: 2px solid red; */
}
#center-boxes{
   display: inline-flex;
   align-content: center;
}
p{ 
    margin: 10px 0px 30px 0px;
}

.box{
    height: 350px;
    width: 367px;
    /* border: 2px solid red; */
    display: inline-block;
    border-radius: 20px;
    margin: 50px 15px 75px 15px;
  
}
#box1{
    /* border: 2px solid black; */
    width: 300px;
    height: 250px;
    margin:2px 2px 2px 2px;
     
}

button{
    display: block;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    background-color: #ff00ff;
    color: white;
    font-size: larger;
    border: none;
    margin: 100px 0px 50px 0px;

   position: relative; 
    left: 42.5%; 
}
@media only screen and (max-width: 600px) {
    #logo {
        height: 15%; /* Increased height for smaller screens */
        width: 15%; /* Increased height for smaller screens */
    }
    #whole-content {
        width: 100%;
        padding: 10px;
    }

    .box {
        width: 90%; /* Adjust box width for smaller screens */
        margin: 20px auto; /* Center boxes horizontally */
    }

    button {
        width: 70%; /* Adjust button width for smaller screens */
       border: 2px solid red;
       position: absolute;
    left: 27%;
    margin: 0px;

    }
}